<configuration>
    <springProperty scope="context" name="mqHost" source="mq.host" defaultValue="localhost"/>
    <springProperty scope="context" name="mqPort" source="mq.port" defaultValue="5672"/>
    <springProperty scope="context" name="mqUsername" source="mq.username"/>
    <springProperty scope="context" name="mqPassword" source="mq.password"/>
    <springProperty scope="context" name="mqExchange" source="mq.exchange"/>
    <springProperty scope="context" name="mqRoutingkey" source="mq.routingkey"/>


    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%level] [%thread] [%logger{36}] - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="AMQP" class="org.springframework.amqp.rabbit.logback.AmqpAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <timestampPattern>yyyy-MM-dd HH:mm:ss.SSS</timestampPattern>
            <includeMdc>false</includeMdc>
            <includeCallerData>false</includeCallerData>
            <fieldNames>
                <timestamp>timestamp</timestamp>
                <level>level</level>
                <message>message</message>
            </fieldNames>
        </encoder>
        <host>${mqHost}</host>
        <port>${mqPort}</port>
        <username>${mqUsername}</username>
        <password>${mqPassword}</password>
        <exchangeName>${mqExchange}</exchangeName>
        <routingKeyPattern>${mqRoutingkey}</routingKeyPattern>
        <charset>UTF-8</charset>
        <deliveryMode>PERSISTENT</deliveryMode>
        <contentType>application/json</contentType>
        <declareExchange>false</declareExchange>
        <addMdcAsHeaders>false</addMdcAsHeaders>
    </appender>


    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="AMQP"/>
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
</configuration>